# Environment variables
DATABASE_URL=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Cloudinary - https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Resend - https://resend.com/api-keys
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@yourdomain.com

# App config
NEXT_PUBLIC_APP_URL=http://localhost:3000
